@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,200&display=swap');
.container
{
    padding: 2rem;
    margin: 0 20rem;
}

.title
{
    text-align: -webkit-left;
    font-family: 'Josefin Sans', sans-serif;
}

.content
{
    text-align: -webkit-left;
    font-family: 'Nunito', sans-serif;
}

.description
{
    text-align: -webkit-left;
}

.image
{
    margin: 3rem;
    margin-left: 8%;
    width: 80%;
    border: 2px dashed black;
    border-radius: 5px;
}

.date
{
    text-align: -webkit-center;
}

.name
{
    text-align: -webkit-center;
}

.author
{
    text-align: -webkit-center;
}

.url
{
    text-align: -webkit-center;
}

.url .span
{
    text-align: center;
    color: black;
    text-decoration: underline;
    padding: 10px;
}

.url .span:hover
{
    text-align: center;
    color: blue;
    text-decoration: underline;
    padding: 10px;
}

